body {
    background-color: #161616;
}

h2, h2 a {
    font-family: 'Inconsolata', 'monospace';
    font-size: 11pt;
    color: #afafaf;
    margin-top: 6px;
    margin-bottom: 2px;
}

#container, a {
    font-family: 'Ubuntu Mono', 'monospace';
    font-size: 11pt;
    color: #d8c18c;
    text-decoration: none;
    margin-top: 3px;
    margin-bottom: 3px;
}

.playing {
    color: #6b9969;
}

.entry-muted {
    color: #d88777;
}

.action {
    font-size: 10pt;
    color: #cc7851;
}

.action-muted {
    font-size: 10pt;
    color: #e5e5e5;
}

#container {
    margin-left: 10%;
    margin-right: 10%;
}